// GRID
$grid-width: 180rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//COLORS

$color-white: #eee;
$color-red-grey-light: #5E3422;
$color-grey-1: #43403F;
$color-black: #000000;
$color-red: #1E0B00;


//FONTS

$logo-font: "Forum", Jura, EB Garamond;
$font-base: "Poiret One", sans-serif;
