*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: rgba($color-black, 1);
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}