.header {
  //position: absolute;
  position: relative;
  height: 100vh;
  //width: 100%;
  z-index: 0;

  //top: 0;
  //left: 0;

 // background-image: url("../../img/florian-metzner-12IsagncQ7o-unsplash.jpg");
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;

  &__background-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .9;
  }


  &-anchor a{
    pointer-events: none;
  }

  &::after {
    content: "";
    background-image: linear-gradient(rgba($color-red, .2), rgba($color-red, .2));
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;

    top: 0;
    left: 0;
  }

  &-textbox {
    display: block;
    width: 100%;
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

}

.heading-primary{
  padding: 0 20rem;
}




