.menu-options__page {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  opacity: 1;
  z-index: 2000;
  pointer-events: none;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  text-align: center;


  &-header {
    margin-top: 16rem;
    display: inline-block;
  }


  &--eat {
    transform: translateX(-270rem);
    transition: all 1.2s ease-out;
    //animation-play-state: paused;

     &:target{
       transform: translateX(0);
       pointer-events: all;
       position: relative;
     }
  }

  &--drink {
    transform: translateX(-270rem);
    transition: all 1.2s;
    //animation-play-state: paused;

    &:target{
      transform: translateX(0);
      pointer-events: all;
      position: relative;
    }
  }

  &--visit {
    transform: translateX(-270rem);
    transition: all 1.2s;
    //animation-play-state: paused;

    &:target{
      transform: translateX(0);
      pointer-events: all;
      position: relative;
    }
  }

  &--list {

    padding: 6rem 0;


    &-heading {
      padding: 1.5rem 0;
    }

    &-group {

    }

    &-option {
      list-style: none;
      padding: 1rem;
    }
  }


}